.information{
  display: flex;
  justify-content: space-between;

  &__title{
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 700;

    text-transform: uppercase;
  }

  &__item{
    padding: 30px 25px 30px 15px;
    background-color: rgba(0,0,0,.05);
    width: 220px;
  }
  
  &__item:last-of-type{
    width: 460px;
  }

}
