@charset 'UTF-8';

/* Порядок сборки */
@import 'variables.pcss';
@import 'default.pcss';
@import 'global.pcss';
@import 'header.pcss';
@import 'slider.pcss';
@import 'specials.pcss';
@import 'products.pcss';
@import 'shop.pcss';
@import 'information.pcss';
@import 'widgets.pcss';
@import 'connection.pcss';
@import 'footer.pcss';
