.slider{
  display: flex;
  justify-content: flex-end;

  margin: 0 auto;
  min-height: 460px;

  &__information{
    width: 390px;
    margin-top: 70px;
    margin-right: 40px;
  }
  &__title{
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
  }

  &__text{
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;

  }
}
