div.collections
  div.collection
    p.collection__title Pink Shoes
    p.collection__text Now at $145,99
  div.collection
    p.collection__title Anna Field
    p.collection__text Limited Edition
  div.collection
    p.collection__title Prada
    p.collection__text Summer is coming
  div.collection
    p.collection__title Casadei
    p.collection__text All Colors avaiable
  div.collection
    p.collection__title Mellow Yellow
    p.collection__text Free delivery
div.offers
  div.offer
    img.offer__img
    p.offer__text On sale
  div.offer
    img.offer__img
    p.offer__text Special offers
  div.offer
    img.offer__img
    p.offer__text Must have
