div.line.line--dark
  div.connection.wrapper
    div.subscribe
      form.subscribe__form
        label
          input.subscribe__field(type='email' name='email' placeholder='Enter email for newsletter' required)
        label
          button.subscribe__btn(type='submit') Подписаться
          p.subscribe__arrow
            svg(width='7' height='12').icon-svg.icon-svg--dark
              use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-arrow")
    div.social
      a(href='#').social__link
        svg(width='9' height='19').icon-social
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-facebook")
      a(href='#').social__link
        svg(width='19' height='16').icon-social
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-twitter")
      a(href='#').social__link
        svg(width='19' height='16').icon-social
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-google")
      a(href='#').social__link
        svg(width='18' height='19').icon-social
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-leakedin")
      a(href='#').social__link
        svg(width='19' height='9').icon-social
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-flickr")
