div.connection
  div.subscribe
    form.subscribe__form
      label
        input.subscribe__field(type='email' name='email')
        button.subscribe__btn(type='submit') Подписаться
  div.social
    a.social__link
    a.social__link
    a.social__link
    a.social__link
    a.social__link
