div.line.line--darkgrey
  footer.footer.wrapper
    p.footer__copyright Copyright © Fooseshoes 2013. Designed by EnzoLiVolti.
    div.footer-menu
      ul.footer-menu__items
        li.footer-menu__item
          a(href='#').footer-menu__link Home
        li.footer-menu__item
          a(href='#').footer-menu__link Support
        li.footer-menu__item
          a(href='#').footer-menu__link Terms and Conditions
        li.footer-menu__item
          a(href='#').footer-menu__link Faqs
        li.footer-menu__item
          a(href='#').footer-menu__link Contact us
  script(src='https://code.jquery.com/jquery-3.0.0.min.js')
  script(src='assets/js/scripts.js')
