footer
  div.copyright
    p.copyright__text Copyright © Fooseshoes 2013. Designed by EnzoLiVolti.
  div.footer-menu
    ul.footer-menu__links
      li.footer-menu__links Home
      li.footer-menu__links Support
      li.footer-menu__links Terms and Conditions
      li.footer-menu__links Faqs
      li.footer-menu__links  Contact us
script(src='https://code.jquery.com/jquery-3.0.0.min.js')
script(src='assets/js/scripts.js')
