header
  div.top-header
    a(href='#').logo
      h1.logo__text Fooseshoes
    div.search
    div.profile LOGIN or Register
  div.nav-header
    nav.menu
      ul.menu__links
        li.menu__link Home
        li.menu__link Products
        li.menu__link About
        li.menu__link Pages
        li.menu__link Blog
        li.menu__link Contact
    div.user-link
