div.line.line--lightgrey
  div.information.wrapper
    div.information__item
      p.information__title Free Shipping
      p.information__text
        | Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat sem,
    div.information__item
      p.information__title Testimonials
      p.information__text
        | vel, vulputate vel nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat sem, vehicula id dictum sit [...]
      p.information__text--author  - John Doe -
    div.information__item
      p.information__title Blog news
      div.news
        div.news__date
           p.news__month Apr
           p.news__day 01
        p.news__title Nice & clean. The best for you blog!
        p.news__text Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel
      div.news
        div.news__date
           p.news__month Apr
           p.news__day 01
        p.news__title What an Ecommerce theme!
        p.news__text Vulputate vel nibh. Class aptent taciti socosqu ad litora
