div.line.line--lightgrey
  section.products.wrapper
    div.products__text
      span.products__title New arrivals on FooseShoes
      btn.btn Show All
    div.cards
      a(href="#").cards__link
        article.cards__item.cards__item--1
          p.cards__price.price $145,99
          div.cards__text Even&Odd
          div.cards__icons
            div.icons
              p.icons__link
                svg.icon-svg(width='16' height='10')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-eye")
              p.icons__link
                svg.icon-svg(width='16' height='16')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-star")
              p.icons__link
                svg.icon-svg(width='16' height='13')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-share")
              p.icons__link
                svg.icon-svg(width='16' height='15')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-buy")
      a(href="#").cards__link
        article.cards__item.cards__item--2
          p.cards__price.price $145,99
          div.cards__text Even&Odd
          div.cards__icons
            div.icons
              p.icons__link
                svg.icon-svg(width='16' height='10')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-eye")
              p.icons__link
                svg.icon-svg(width='16' height='16')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-star")
              p.icons__link
                svg.icon-svg(width='16' height='13')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-share")
              p.icons__link
                svg.icon-svg(width='16' height='15')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-buy")

      a(href="#").cards__link
        article.cards__item.cards__item--3
          p.cards__price.price $145,99
          div.cards__text Even&Odd
          div.cards__icons
            div.icons
              p.icons__link
                svg.icon-svg(width='16' height='10')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-eye")
              p.icons__link
                svg.icon-svg(width='16' height='16')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-star")
              p.icons__link
                svg.icon-svg(width='16' height='13')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-share")
              p.icons__link
                svg.icon-svg(width='16' height='15')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-buy")
    div.products__text
      span.products__title Best sellers of the month
      btn.btn Show All
    div.cards
      a(href="#").cards__link
        article.cards__item.cards__item--4
          p.cards__price.price $145,99
          div.cards__text Even&Odd
          div.cards__icons
            div.icons
              p.icons__link
                svg.icon-svg(width='16' height='10')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-eye")
              p.icons__link
                svg.icon-svg(width='16' height='16')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-star")
              p.icons__link
                svg.icon-svg(width='16' height='13')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-share")
              p.icons__link
                svg.icon-svg(width='16' height='15')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-buy")
      a(href="#").cards__link
        article.cards__item.cards__item--5
          p.cards__price.price $145,99
          div.cards__text Even&Odd
          div.cards__icons
            div.icons
              p.icons__link
                svg.icon-svg(width='16' height='10')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-eye")
              p.icons__link
                svg.icon-svg(width='16' height='16')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-star")
              p.icons__link
                svg.icon-svg(width='16' height='13')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-share")
              p.icons__link
                svg.icon-svg(width='16' height='15')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-buy")
      a(href="#").cards__link
        article.cards__item.cards__item--6
          p.cards__price.price $145,99
          div.cards__text Even&Odd
          div.cards__icons
            div.icons
              p.icons__link
                svg.icon-svg(width='16' height='10')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-eye")
              p.icons__link
                svg.icon-svg(width='16' height='16')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-star")
              p.icons__link
                svg.icon-svg(width='16' height='13')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-share")
              p.icons__link
                svg.icon-svg(width='16' height='15')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-buy")
