div.line.line--lightgrey
  section.products.wrapper
    div.products__text
      span.products__title New arrivals on FooseShoes
      btn.products__btn Show All
    div.cards
      article.cards__item
      article.cards__item
      article.cards__item
    div.products__text
      span.products__title Best sellers of the month
      btn.products__btn Show All
    div.cards
      article.cards__item
      article.cards__item
      article.cards__item
