div.line.line--grey
  div.slider.wrapper
    div.slider__information
      div.slider__price $145,99
      h2.slider__title Pink Shoes 2013 slide
      p.slider__text
        | Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..
      div.slider__action
div.line.line--darkgrey
  div.slides.wrapper
    div.slide
      p.slide__title Pink Shoes
      p.slide__text Now at $145,99
    div.slide
      p.slide__title Anna Field
      p.slide__text Limited Edition
    div.slide
      p.slide__title Prada
      p.slide__text Summer is coming
    div.slide
      p.slide__title Casadei
      p.slide__text All Colors avaiable
    div.slide
      p.slide__title Mellow Yellow
      p.slide__text Free delivery
