div.line.line--grey
  div.slider.wrapper
    img(src="assets/img/pink_shoes.png").slider__img
    div.slider__information
      div.slider__price.price $145,99
      h2.slider__title Pink Shoes 2013 Collection
      p.slider__text
        | Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..
      div.slider__action
        a(href="#").slider__icon
          svg.icon-svg(width='16' height='10')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-eye")
        a(href="#").slider__icon
          svg.icon-svg(width='16' height='16')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-star")
        a(href="#").slider__icon
          svg.icon-svg(width='16' height='13')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-share")
        a(href="#").slider__icon
          svg.icon-svg(width='16' height='15')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-buy")

div.line.line--darkgrey
  div.slides.wrapper
    div.slide
      p.slide__title Pink Shoes
      p.slide__text Now at $145,99
    div.slide
      p.slide__title Anna Field
      p.slide__text Limited Edition
    div.slide
      p.slide__title Prada
      p.slide__text Summer is coming
    div.slide
      p.slide__title Casadei
      p.slide__text All Colors avaiable
    div.slide
      p.slide__title Mellow Yellow
      p.slide__text Free delivery
