div.line.line--dark-hr
  div.widgets.wrapper
    div.widget
      p.widget__title Text widget
      p.widget__text
        | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    div.widget
      p.widget__title Twitter widget
      div.tweet
        p.tweet__text
         a(href="#").tweet__text.tweet__text--link @ericafustero
         | Why thank you. Your work looks awesome by the way!
         a(href="#").tweet__text.tweet__text--link @treemelody
        p.tweet__text.tweet__text--date 19 days ago
      div.tweet
        p.tweet__text
         a(href="#").tweet__text.tweet__text--link @roymarvelous
         | You can seek a refund through TF if it is not as advertised - but it is :)
        p.tweet__text.tweet__text--date 21 days ago
    div.widget
      p.widget__title Flickr widget
      img(src='assets/img/flickr.png' alt='Flickr widget')
