doctype html
html
  include blocks/head
  body
    include blocks/header
    main
      include blocks/slider
      include blocks/collections
      include blocks/products
      include blocks/information
    include blocks/footer
