doctype html
html
  include blocks/head
  body
    include blocks/svg
    include blocks/header
    main
      include blocks/slider-short
      include blocks/shop
      include blocks/information
      include blocks/widgets
      include blocks/connection
    include blocks/footer
